@import url('./app/directives/directives.scss');

/* You can add global styles to this file, and also import other style files */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@font-face {
    font-family: 'trebuchet';
    src: url(assets/font/trebuc.ttf) format("opentype");
  }

body {
  font-family: 'trebuchet';
  font-weight: 300;  
  padding: 3rem 6rem;
}

p {
  line-height: 1.5rem;    
}

li {
  margin-left: 2.3rem;
}